.count{
    background-color: #acacac;
    color: white;
    padding: 20px;
    text-align: center !important;
}
.countb{
    padding-left: 10px;
    /* width: 80%; */
    /* text-align: center; */
    border-left: 3px solid;
}
.count h2{
    text-align: center;
}