.iptv-header{
    margin-top: 88px;
    height: 400px;
    background: url("/src/image/ct/iptv.png");
    background-size: cover;
}
.iptv-header .container{
    color: white;
    padding-top: 120px;

}
.iptv-content{
    padding:  30px;
}
.iptv-content-left{
    padding-top: 30px;
}
.iptv-content-left-img img{
    padding-top: 30px;
    transition: all ease 1s;
}
.iptv-content-left-img img:hover {
    transform: scale(1.1);
}