.iptv-header{
    margin-top: 88px;
    height: 400px;
    background: url("/src/image/3.png");
    background-size: cover;
}
.iptv-header .container{
    color: white;
    padding-top: 120px;

}
.iptv-content{
    padding:  30px;
}
.iptv-content-left{
    padding-top: 30px;
}
.iptv-content-left-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6rem;
}

@media only screen and (max-width: 800px) {
    .iptv-content-left-imageLast{
        display: none;
    }
    .iptv-content-left-img{
        margin-top: 2rem;
        gap: 20px;
    }
    .iptv-content-left-img img{
        width: 300px;
        height: 300px;
    }
}

.iptv-content-left-imageLast{
   padding-top: 20px;
   margin: auto;
}

.iptv-content-left-imageLast img{
    transition: all ease 1s;
}

.iptv-content-left-img img{
    transition: all ease 1s;
}
.iptv-content-left-img img:hover, .iptv-content-left-imageLast img:hover{
    transform: scale(1.1);
}