*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-planCard-container{
  position: relative;
  overflow: hidden;
}

.pre-btn, .next-btn{
  width: 50px;
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container div{
    margin-top: 20px;
}

.button-container div:nth-child(1) button:nth-child(1) {
  background-color: #0D6EFD;
  border: none;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  color: white;
}

.button-container div:nth-child(1) button:nth-child(1):hover {
    background-color: #c53122;
    cursor: pointer;
    transition: 500ms linear;
}

.detailsButton button{
  border: none;
  outline: none;
  width: 180px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0px;
  font-size: 16px;
  background-color: #F5F5F5;
}

.detailsButton button:hover{
    background-color: #c53122;
    cursor: pointer;
    transition: 1000ms linear;
}

.button-container div:last-child button {
    background-color: #0D6EFD;
    border: none;
    padding: 10px 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}

.button-container div:last-child button:hover{
    background-color: #c53122;
    cursor: pointer;
    transition: 500ms linear;
}



