.navbar.active{
  background-color: white;
  color: #827d7c !important;
  
}
.navbar{
  box-shadow: 0px 10px 10px -15px #111;
}

.navbar a{
  color: #c53122 !important;
  background-color: transparent !important;
}

.navbar img{
  height: 70px;
  width: 500px;
}

.second-nav a{
  color: #c53122 !important;
  background-color: transparent !important;
}

.second-nav a:hover{
  background-color: transparent !important;
}

.navbar.active a{
  color: #c53122 !important;

}


.navbar.active .dropdown-item{
  /* color: aliceblue !important; */
  color: rgb(229, 15, 15) !important;
}
.navbar.active .dropdown-item:hover{
  /* color: aliceblue !important; */
  color: #c53122 !important;
}
.MuiToolbar-root  img{
  margin-right: 25px;
}
.dropdown-item{
  width: 300px !important;
  font-size: 20px;
  padding-left: 20px !important;
  /* color: #c32155; */
}
.dropdown-item:hover{
  color: #c32155 !important;
}
.nav-link{
  font-weight: bold !important;
}
.nav-link:hover{
  color: #c53122 !important;
}
.navbar-collapse{
  padding-left: 100px !important;
}
.second-nav{
  background-color: white;
}


@media (min-width: 250px) and (max-width:500px) {
  .navbar img{
    height: 40px;
    width: 250px;
  }
  .navbar-collapse{
    padding: 20px !important;

  }
  .navbar{
    background-color: white;
  }
  .navbar a{
    color: black !important;
  }
}