*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container{
  background-image: url('./image/istockphoto-1214476809-1024x1024-transformed.jpeg');
  /* width: 100vw; */
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.9 black; */  
}


::marker{
  color: red;
}

ul li{
  padding-bottom: 12px;
  font-weight: 500;
}

