*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.home-container{
  background-image: url('./image/Untitled design (3).png');
  /* width: 100vw; */
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.9 black; */  
}


::marker{
  color: red;
}

ul li{
  padding-bottom: 12px;
  font-weight: 500;
}

.container-plans{
  background-image: url('./image/fiber.jpg');
  /* width: 100vw; */
  height: 100%;
  padding-bottom: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-vision-mission{
  background-image: url('./image/fiber.jpg');
  /* width: 100vw; */
  /* background-color: black; */
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.broadband-container{
  background-image: url('https://www.anonet.in/uploaded_files/individuals_service/broadband-new_1687775580.jpg');
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;

}

.happyboy_Image_Container img{
  transition: all 1s;
}

.happyboy_Image_Container img:hover{
  transform: scale(1.1);
}

.ott-container{
  background-image: url('https://www.anonet.in/assets/images/bg1.png');
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;

}


